<div class="row">
  <div class="col-md-12 d-flex justify-content-center mt-3 mb-0">
    <app-header></app-header>
  </div>
</div>
<div class="container p-3 vocation-app">
  <div class="row">
    <div class="col-md-12" *ngIf="!loading && !error">
      <div [ngSwitch]="step">
        <ng-template [ngSwitchCase]="'vocation'">
          <app-vocation
            (eventVocation)="onSubmitVocation($event)"
          ></app-vocation>
        </ng-template>
        <ng-template [ngSwitchCase]="'month'">
          <app-months-form
            [months]="month"
            (eventMonth)="onSubmitMonth($event)"
          ></app-months-form>
        </ng-template>
        <ng-template [ngSwitchCase]="'result'">
          <app-result-form
            [result]="result"
            (eventReset)="onSubmitResult($event)"
          ></app-result-form>
        </ng-template>
      </div>
    </div>
    <div *ngIf="loading" class="col-md-12 d-flex justify-content-center">
      <h4>Loading...</h4>
    </div>
    <div *ngIf="error" class="row">
      <div class="col-md-12  d-flex justify-content-center">
        <h4 style="color: red">Error: {{ error }}</h4>
      </div>
      <hr />
      <div class="col-md-12">
        <hr />
        <button
          type="button"
          class="btn btn-primary float-right mr-2"
          (click)="onSubmitResult()"
        >
          Вернуться
        </button>
      </div>
    </div>
  </div>
</div>
