<form (ngSubmit)="onSubmit(formMonth.value)" [formGroup]="formMonth">
  <div class="row mt-2 border-top" formArrayName="months">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Месяц</th>
          <th>Зарплата</th>
          <th>Количество исключаемых дней</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of formMonth.get('months').controls; index as i"
        >
          <td>
            <label class="control-label mt-2">{{
              item.controls["month"].value | dateToName
            }}</label>
          </td>
          <td>
            <input type="number" class="form-control" formControlName="summ" />
            <div
              class="error"
              *ngIf="
                item.controls['summ'].invalid && item.controls['summ'].touched
              "
            >
              Введено неверное значение
            </div>
          </td>
          <td>
            <input
              type="number"
              class="form-control"
              formControlName="excludeCountDay"
            />
            <div
              class="error"
              *ngIf="
                item.controls['excludeCountDay'].invalid &&
                item.controls['excludeCountDay'].touched
              "
            >
              Введено неверное значение
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    type="submit"
    class="btn btn-primary float-right mt-2"
    [disabled]="formMonth.invalid"
  >
    Далее>>>
  </button>
</form>
