<form (ngSubmit)="onSubmit(formGroup.value)" [formGroup]="formGroup">
  <div class="row">
    <div class="col-md-12">
      <input type="checkbox" id="workChecked" [checked]="isFromWork" (change)="toggleDateFromWorkValidator()">
      <label for="workChecked">Работник отработал меньше года</label>
    </div>

    <div class="col-md-6 mt-2">
      <label class="control-label" for="dateFromWork">Дата приема на работу</label>
      <input type="date" id="dateFromWork" class="form-control" [readonly]="!isFromWork" formControlName="dateFromWork">
      <div class="error" *ngIf="formGroup.get('dateFromWork') && 
                                formGroup.get('dateFromWork').invalid && 
                                formGroup.get('dateFromWork').touched">
        Введено неверное значение
      </div>      
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-6">
      <label class="control-label" for="datefrom">Дата начала отпуска</label>
      <input type="date" id="datefrom" class="form-control" formControlName="dateFrom">
      <div class="error" *ngIf="formGroup.get('dateFrom').invalid && formGroup.get('dateFrom').touched">
        Введено неверное значение
      </div>
    </div>
    <div class="col-md-6">
      <label class="control-label" for="countDay">Количество дней отпуска</label>
      <input id="countDay" class="form-control" formControlName="countDay">
      <div class="error" *ngIf="formGroup.get('countDay').invalid && formGroup.get('countDay').touched">
        Введено неверное значение
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary float-right mt-2" [disabled]="formGroup.invalid">
    Далее>>>
  </button>
</form>